@import "bourbon";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$primerNavy: #082c38;
$primerLightBlue: #39bced;
$cardBorder: 2px solid $primerNavy;
$cardBorderRadius: 10px;

body {
  background: #e2ebf3;
  color: $primerNavy;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

.body-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid $primerNavy;
}

img.banner{
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2.4em;
}

.card {
  margin: 0 auto;
  border: $cardBorder;
  border-radius: $cardBorderRadius;
  width: 40%;
  background-color: $primerLightBlue;
  text-align: center;
  font-size: 1.8em;
}

.diamond {
  margin: 0 auto;
  border: 1px solid black;
  width: 50%;
}

.diamond-img {
  width: 100%;
}
